.body {
    background-color: rgb(20, 32, 46);
    min-height: 100vh;
    width: auto;
    display: flex;
    justify-content: flex-start;
    
    
}
.side-bar {
    width: 5%;
    height: 97vh;
    background-color: beige;
    border-radius: 0.7rem;
    margin: 0.5rem 0.5rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
 
.side-bar.minimized {
    width: 50rem;
}

.side-bar.expand {
    width: 15rem;
}

#nav {
    display: flex;
    flex-direction: column;
   
    
    
}

#nav a {
    width: 1.7rem;
    height: 1.7rem;
    background-color: aqua;
    border-radius: 0.7rem;
    padding: 1rem;
    margin: 0.3rem;
}

.calendar {
    width: 20%;
    height: 97vh;
    background-color: beige;
    border-radius: 0.7rem;
    margin: 0.5rem 0.5rem;
    display: flex;
    ;
    
}

.workspace {
    background-color: rgb(127, 130, 133);
    opacity: 75%;
    width: 75%;
    color: rgb(52, 155, 21);
    font-size: 5rem;
}