
:root {
    --primary-color: rgb(20, 32, 46);
    --secondary-color: rgba(255, 255, 255, 0.963);
    font-family: 'Roboto', sans-serif; 

}
.main {
    
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    
}

.light {
    background-color: rgb(20, 32, 46);
    color: var(--secondary-color);
}
.left{
    width:20%;
}
.side-bar {
    width: 5%;
    height: 97vh;
    background-color: rgba(255, 255, 255, 0.963);
    border-radius: 0.7rem;
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(20, 32, 46);
    border-color: var(--secondary-color);;
    border-style: outset;
    box-shadow: 1px 1px 2px rgb(20, 32, 46);
    position: fixed;
    transition: 1000ms ease;
    
}
 
.side-bar-XL {
    width: 18%;
    height: 97vh;
    background-color: rgba(255, 255, 255, 0.963);
    border-radius: 0.7rem;
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: rgb(20, 32, 46);
    border-color: var(--secondary-color);;
    border-style: outset;
    box-shadow: 1px 1px 2px rgb(20, 32, 46);
    position: fixed;
    padding-left: 1rem;
    transition: 1000ms ease;
}


.task-list {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}

.task-list a {  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.6rem;
    background: white;
    margin: 0.5rem;
    border-radius: 1rem;
    
}

.list-items {
    padding-right: 0.5rem;
}

.nav-items {
    font-size: 1rem;
    font-weight: 700;
    
}




.workspace {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    
    width: 65%;
    height: auto;
}

#header {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    height: 10%;
    padding-top: 1rem;
}

#header h1 {
    font-family: 'Righteous', cursive;
    margin: 0;
    font-size: 3rem;
}

#head-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding-top: 1rem;
    
    
}

#theme-tool {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    font-size: 2rem;
    width: 30%;
    gap: 1rem;
    
}
.language-items {
    display: relative;
}

.dropdown-menu{
    position: absolute;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    width: 5rem;
    color:rgb(20, 32, 46);
    font-size: 1rem;
  }

  .dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    
    transform: rotate(45deg);
  }
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
  }

.dropdown-menu a:hover {
    color: rgb(212, 33, 9);
    cursor: pointer;
    font-weight: bold;
}

#search-tool {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.searchTerm {
    width: 70%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .mainpopup {
    background-color: rgba(188, 195, 199, 0.71);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    position:fixed;
    overflow: auto;
    z-index: 10000;
    margin: auto;
  }

  .popup{
    height: 25rem;
    width: 40rem;
    position: absolute;
    top: 25%;
    right: 25%;
    border-radius: 1rem;
    z-index: 9999;
    background-color: white;
}
.popup-header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 15px;
    border-bottom: 2px solid black;
}
#login-form {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    width: 25rem;
    font-size: 1.5rem;
}

