
.main {
    
    min-height: 100vh;
    width: auto;
    display: flex;
    justify-content: flex-start;
    font-family: 'Nunito Sans', sans-serif;
    
}

.light {
    background-color: rgb(20, 32, 46);
    color: beige

}

.side-bar {
    width: 5%;
    height: 97vh;
    background-color: beige;
    border-radius: 0.7rem;
    margin: auto;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(20, 32, 46);
    border-color: beige;
    border-style: outset;
    box-shadow: 1px 1px 2px rgb(20, 32, 46);
    
    
}
 
.side-bar-XL {
    width: 20%;
    height: 95vh;
    background-color: beige;
    border-radius: 0.7rem;
    margin: auto;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: rgb(20, 32, 46);
    border-color: beige;
    border-style: outset;
    box-shadow: 1px 1px 2px rgb(20, 32, 46);
}

.side-bar-XL .menu {
    padding-left: 1rem;
}


.task-list {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}

.task-list a {  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 1rem;
}
.nav-items {
    font-size: 1rem;
    font-weight: 700;
    
}




.workspace {
    
    width: 75%;
    
}

#header {
    display: flex;
    justify-content: space-around;
}

#header h1 {
    font-family: 'Righteous', cursive;
    
    font-size: 3rem;
}

#head-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
   
    padding-top: 3.4rem;
    
}

#theme-tool {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    font-size: 2rem;
    width: 30%;
    gap: 1rem;
    
}
.language-items {
    display: relative;
}


#search-tool {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.searchTerm {
    width: 70%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .mainpopup {
    background-color: rgba(188, 195, 199, 0.71);
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
  }

  .popup{
    height: 400px;
    width: 50%;
    background-color: white;
    position: absolute;
    top: 25%;
    right: 25%;
}
.popup-header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 15px;
    border-bottom: 2px solid black;
}