* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(20, 32, 46);
    --secondary-color: rgba(255, 255, 255, 0.963);
    --third-color: rgba(255, 255, 255, 0.963);
}

.dark_mode {
    --primary-color: rgba(255, 255, 255, 0.963);
    --secondary-color: rgba(184, 189, 206, 0.943);
    --third-color: rgb(20, 32, 46);
}

body {
    background-color:var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-family: 'Roboto', sans-serif;
        /* color:rgb(255, 255, 255); */
    max-width: 50em;
    margin-left: 10em;
    margin-right: 2em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: var(--primary-color);
    border: 1px solid transparent;
    border-radius: 0.8em;
    opacity: 90%;
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: max-content;
    font-size: 1em;
    background-color: var(--secondary-color);
    border: 1px solid transparent;
    border-radius: 0.8em;
    gap: 1em;
    padding: 0.3em 1em;
    font-weight: bold;
}

.head a {
    text-decoration: none;
    color: rgb(20, 32, 46);

}

.head li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#namey {
    color: var(--third-color);
    font-size: 3em;
    font-weight:bold;
}

#icon_1, #icon_2, #icon_3, #icon_4 {
    width: 3.5em;
}

.body_container {
    /* width: 50em; */
    padding: 1em 0em;
}


#categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    padding: 1em 1em;
    border-radius: 0.8em;
    opacity: 90%;
}

#categories a {
text-decoration: none;
position: relative;
padding: 0em 1em;
}

/* #cat_1, #cat_2, #cat_3, #cat_4 {
    color: rgb(255, 255, 255);
    border-radius: 0.5em;
    padding: 3em 1em;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0em 1em 0.5em;
} */


#categories h1 {
    position:absolute;
    padding: 0em;
    color: rgba(255, 255, 255, 0.963);
    font-size: 3rem;
    top: 0.2em;
    left: 0.7em;
    font-weight: lighter;
}

#categories p {
    position:absolute;
    padding: 0em;
    color: rgba(255, 255, 255, 0.963);
    font-size: 1.3em;
    top: 3.6em;
    left: 1.5em;
}

#categories img {
    width: 9.5em;
    border-radius: 0.7em;

    }

.list {
    display: flex;
    flex-direction: row;
    /* justify-content:space-around; */
    flex-wrap: wrap;
    padding: 2em 1em;
    gap: 1em;
    justify-content:flex-start;
}


#list_add {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 2em 1.5em;
    margin: 1em 0.1em;
    opacity: 90%;
    align-items: center;

    display: flex;
    flex-direction: column;
    font-size: 1em;
    border-radius: 0.4em;
}

.list a {
    text-decoration: none;
/* padding: 1em 1em 0em; */
    }
    

#list_add img{
    opacity: 40%;
    width: 7em;
    margin: 1em;
}

/* #list_new {
    color: rgba(24, 24, 24, 0.893);
    background-color: aliceblue;
    border-radius: 0.2em;
    padding: 0em 0.5em 0.5em;
    opacity: 90%;
    text-align: center;
    font-size: 2em;
    max-width: 7.2em;
    min-width: 7.2em;
} */

/** class list new for templates **/

.list_new {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 0.2em;
    padding: 0em 0.5em 0.5em;
    /* margin: 0.5em;  */
    opacity: 90%;
    text-align: center;
    font-size: 2em;
    max-width: 7.8em;
    min-width: 7.8em;
}

#list_input_1, #list_title_1 {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

#list_title_1 {
    font-size: 0.6em;
    padding: 0.3em 0em 0em 0em;
    margin-bottom: 1em;
    max-width: 8.5em;
    /* background-color:rgba(253, 205, 254, 0.584); */
}

#list_input_1 {
    font-size: 0.5em;
    max-width: 10em;
    height: 1.5em;
    background-color: var(--secondary-color);
}

#status_blue {
    background-color: blue;
    color: blue;
    border-radius: 50%;
}

#status_pink {
    background-color:darkorchid;
    color: darkorchid;
    border-radius: 50%;
}

#status_green {
    background-color:green;
    color: green;
    padding: 1em;
    border-radius: 40%;
}

#color_list {
    text-decoration: none;
}

.add_text {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.to_do_text li {
    background-color: var(--secondary-color);
    font-size: 0.45em;
    margin: 5px; 
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#del_list {
    margin-right: 7em;
    cursor: pointer;
}

.grayed_out {
    color: gray;
    text-decoration: line-through;
    
}